* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
  }
  
  h4 {
    font-size: 20px;
    color: black;
  }
  
  h6 {
    font-weight: 700; font-size: 12px;
  
  }
  
  p {
    font-size: 16px;
    color: #465652;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 { 
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0; 
  }
  
  body { 
    width: 100%; 
  }
  
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:#E3E6F3;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.09);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  #navbar {
   display: flex;
   align-items: center;
   justify-content: center;
  }
  
  #navbar li{
    list-style: none;
    padding: 0 20px;
  }
  
  #navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(41, 13, 168);
    transition: 0.3s ease;
  }
  
  #navbar li a:hover, #navbar li a.active { color: #088178; }
  
  #navbar li a.active::after{ 
    content: ""; 
    width: 30%; 
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  .logo {
    height: 60px;
    width: 240px;
    object-position: center;
    object-fit: cover;
  }
  
  #hero {
    background-image: url("img/hero2.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  }
  
  #hero h4,h2,h1{
    color: cornsilk;
  }
  
  #hero p{
    color: yellow;
  }
  
  #hero button{
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s ease;
  }
  
  #hero button:hover, #hero button.active { color: #E3E6F3; background-color: #088178 ; }
  
  #product1 { text-align: center; }
  
  #product1 .pro {
    
    width: 23%;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
  }
  
  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(5, 66, 171, 0.12);
  }
  
  #product1 .pro img {
    width: 100%;
    border-radius: 20px;
  }
  
  .atc {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #f90; 
    color: #fff; 
    text-transform: uppercase; 
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; 
  }
  
  #product1 .pro .des .star{ 
    font-size: 20px;
    color: rgb(243, 181, 25);
  }
  
  #product1 .pro .des {
    text-align: start;
    padding: 10px 0;
    font-size: 25px;}
    
  
  #product1 .pro .des .sp{ color: #606063; font-size: 14px;
  
  }
  
  #product1.pro .des .h55 { padding-top: 7px; color: #000000; font-size: 20px;
  
  }
  .addtc{
    margin-top: 9px;
    margin-bottom: 9px;
  }
  .atc:hover {
    background-color: #f60; 
  }
  
  #product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  #banner {
    display: flex;
    flex-direction: column; justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    }
  
  #banner h2 {
      text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
      padding: 10px 0;
    }
  
  #banner button{
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background-color: #1fbad6; 
    color: #fff;
    text-transform: uppercase; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
  }
  #banner button:hover{
    background-color: #0e8ca3;
  }
  
  #device{
    text-align: center;
  }
  #device1 .dev {
    
    width: 23%;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
  }
  
  #device1 .dev:hover{
    box-shadow: 20px 20px 30px rgba(5, 66, 171, 0.12);
  }
  
  #device1 .dev img {
    width: 100%;
    border-radius: 20px;
  }
  
  #device1 .dev-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  
  #sm-banner{ display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #sm-banner .banner-box{
    background-image: url(img/hero5.jpg);
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 670px;
  height: 50vh;
  background-size: cover;
  background-position: center; padding: 30px;
  }
  #sm-banner .banner-box2{
    background-image: url(img/hero1.jpg);
  }
  #sm-banner h4 { color: black;
    font-size: 20px;
    font-weight: 300;
    }
  
  #sm-banner h2 {
  
    color: black;
    font-size: 28px;
    font-weight: 800;
  }
  
  #sm-banner button{
    margin-top: 15px;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background-color: rgb(14, 25, 182); 
    color: #fff; 
    text-transform: uppercase; 
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  #sm-banner button:hover{
    background-color: white;
    color:rgb(14, 25, 182) ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  footer p{
    font-size: 17px;
    margin: 0 0 8;
  }
  
  footer h4{
    font-size: 20px;
    margin: 0 0 8;
    text-decoration: none;
    color: black;
  }
  footer .col a{
    font-size: 18px;
    margin: 0 0 8;
    text-decoration: none;
  }
  
  footer .col .icon:hover{
    cursor: pointer;
  }